<%= render "shared/login_form" %>
<h2>New_news</h2>
<ul>
	<% 5.times do |i| %>
	<li><%= link_to "news_topline", "#" %></li>
	<% end %>
</ul>

<h2>member_blog</h2>
<ul>
	<% 5.times do |i| %>
	<li><%= link_to "blog_topline", "#" %></li>
	<% end %>
</ul>
